{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}A Propos | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">A Propos</h2>
        </header><!-- /archive-header -->


        <div style="font-size: 1.2em; line-height: 1.3em;">

            <p>
                <strong>Japan FM</strong> est la première web radio de musique Japonaise en France.
            </p>

            <p>
                Ce qui au départ n’était qu’un souhait est devenu une réalité.
            </p>

        </div>


        <p>
            <strong>Japan FM</strong> est présente dans le paysage Web depuis 2010. Démarrée web radio associative qui diffusait de la musique japonaise, elle est aujourd’hui, depuis son rachat par la société IGAM Entertainment, l’un des piliers représentatifs de l’impact de la musique japonaise et des cultures qui y sont associées en France, via ses reportages, ses émissions spéciales, ses interviews, ses interventions dans les conventions.
        </p>

        <p>
            Pour autant <strong>Japan FM</strong> ne compte pas s’arrêter là. Nouvelle équipe, nouveaux équipements, nouveaux locaux, nouveaux partenaires, nouvelle structure, nouvelles émissions, nouveau site internet, et bien sûr nouvelles ambitions. Mais sans jamais perdre de vues nos valeurs, nos fans, et notre volonté de rester en phase avec toutes les générations, celles du « Club Do », celles des premières chaines à diffuser des clips d’artistes Japonais, celles qui découvrent les Drama et One Ok Rock, celles qui composent nos auditeurs.
        </p>

        <p>
            <strong>Japan FM</strong> est une web radio, qui n’émet pas sur les ondes AM, FM. C’est une radio en ligne, disponible via internet.<br />
            A sa création, <strong>Japan FM</strong> se voulait identitaire auprès de son public.
        </p>

        <p>
            Afin d’être accessible par le plus grand nombre, tout en évoluant dans l’ère du numérique, le sigle « FM » a permis aux public de nous identifier comme une radio à part entière et non comme un simple site de diffusion de musique.
        </p>

        <p>
            La radio est disponible et accessible dans le monde entier à l’adresse www.japanfm.fr sur:
        </p>

        <ul>
            <li>Un ordinateur connecté à Internet</li>
            <li>Un Smartphone ou une Tablette avec une simple connexion Edge, 3G, 4G ou WIFI, par le navigateur Internet</li>
            <li>Un smartphone ou une Tablette grâce à l’application Japan FM sur Android et IOS</li>
            <li>La télévision, par le biais du bouquet FREEBOX (5 762 000 abonnés en France) dans la liste de diffusion des web radios</li>
        </ul>

        <p>
            Japan FM se tourne vers l’avenir, fort de la passion qui nous anime et nous animera encore longtemps.
        </p>
    {% endblock %}