{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}A Propos | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">A Propos</h2>
        </header><!-- /archive-header -->


        {{ editable[0].content|raw }}
    {% endblock %}