{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Conditions générales d'utilisation | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">Conditions générales d'utilisation</h2>
        </header><!-- /archive-header -->


        <div style="font-size: 1.2em; line-height: 1.3em;">

            <p>
                Le Site Web <a href="{{ path('home') }}">japanfm.fr</a>, désigné ci-après par le terme "le Site", vous est proposé sous certaines conditions d'utilisation, définissant l'ensemble des relations entre vous et le Site.
            </p>

            <p>
                Ces conditions d'utilisations sont définies ci-dessous et la simple utilisation et/ou consultation de ce Site implique, de façon automatique et inconditionnelle, votre acceptation pleine et entière de l'ensemble de ses conditions d'utilisation.
            </p>

            <p>
                Le Site se réserve le droit de modifier à tout moment les présentes Conditions Générales d'Utilisation, sans préavis ni indemnités quelconques. Ainsi, nous vous conseillons de les consulter régulièrement.
            </p>

        </div>

        <div class="statique">

            <h2>Propriété intellectuelle</h2>


            <p>
                L'utilisation du Site ne vous confère aucun droit. Ces droits restent la propriété exclusive de Japan FM et de ses partenaires.
            </p>

            <p>
                Ainsi, tous les textes, photos, vidéos, données, affiches, logos, marques et autres éléments reproduits sur le Site sont réservés et protégés par le droit de la propriété intellectuelle, notamment droits d'auteur, droits voisins, droits des marques.<br />
                A ce titre et conformément au Code de la Propriété Intellectuelle seule l'utilisation pour un usage privé dans un cercle de famille est autorisée et toute autre utilisation est constitutive de contrefaçon et/ou d'atteinte aux droits voisins, sanctionnées par ledit Code.
            </p>

            <p>
                En conséquence, vous ne pouvez en aucun et d'aucune manière, reproduire, représenter, diffuser, commercialiser, modifier, concéder tout ou partie de l'un quelconque des éléments reproduits sur le Site et tout ou partie du Site en général, sans l'accord préalable et express de Japan FM. Toute utilisation illicite de tout ou partie du Site (piratage, contrefaçon, etc.) pourra donner lieu à des poursuites.
            </p>

            <h2>Données personnelles</h2>

            <p>
                Japan FM est susceptible de recueillir certaines informations nominatives vous concernant. Ces informations sont utilisées par Japan FM. Toutefois, Japan FM se réserve la possibilité de transmettre ces informations à des tiers. Si vous n'êtes pas d'accord avec cette possibilité de transmission, vous pouvez, conformément à la Loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous y opposer de même qu'accéder, rectifier, supprimer les informations vous concernant en demandant à contact[at]vyper-jmusic.com.
            </p>

            <h2>Eventuels liens vers d'autres sites tiers</h2>

            <p>
                Le Site peut contenir des liens hypertextes donnant accès à d'autres sites web édités et gérés par des tiers et non par Japan FM.<br />
                Japan FM ne pourra être tenu responsable directement ou indirectement dans le cas où lesdits sites tiers ne respecteraient pas les dispositions légales et réglementaires tant françaises qu'européennes en vigueur ou à venir, ainsi que des conséquences de ce non-respect.
            </p>

            <h2>Garanties</h2>

            <p>
                Sous réserve des dispositions réglementaires applicables, vous reconnaissez et acceptez expressément que :
                le Site vous est fourni en l'état, accessible en fonction de sa disponibilité et sans aucune garantie expresse ou implicite de la part de Japan FM et que son utilisation se fait à vos risques et périls, sous votre entière responsabilité.<br />
                Japan FM ne garantit pas que (i) le Site, les contenus et produits proposés répondront parfaitement à vos attentes, (ii) le Site sera ininterrompu et dépourvu de toutes erreurs , que ces interruptions ou erreurs seront corrigées, (iii) le Site ne contiendra aucun virus. Tout matériel téléchargé et/ou obtenu, de quelque manière que ce soit lors de l'utilisation du Site l'est à vos risques et périls et Japan FM ne sera aucunement responsable des dommages, pertes de données subis par votre ordinateur.<br />
                Aucun conseil et aucune information, qu'ils soient écrits ou oraux, obtenus par vous de Japan FM ou lors de l'utilisation du Site ne sont susceptibles de créer une quelconque garantie non expressément prévue aux présentes conditions.
            </p>

            <h2>Limitation de responsabilité</h2>

            <p>
                Sous réserve des dispositions légales ou réglementaires applicables, Japan FM ne saurait être tenue pour responsable de tout dommage direct ou indirect notamment mais non limitativement pertes de profits, de clientèles, de données, de biens incorporels pouvant intervenir du fait de l'utilisation ou de l'impossibilité d'utilisation du Site, et plus généralement de tout événement ayant un lien avec le Site et/ou tout site tiers. En particulier, la responsabilité de Japan FM ne saurait être engagée en cas de piratage total ou partiel du Site et des dommages que ce piratage pourrait entraîner à votre égard ou à l'égard d'un tiers.
            </p>

            <h2>Fermeture ou suspension du Site</h2>

            <p>
                Japan FM se réserve la possibilité, lorsqu'elle le souhaite, de modifier, d'interrompre temporairement ou de façon permanente, tout ou partie du Site, sans préavis ni indemnité quelconques. Japan FM ne pourra en aucun cas être tenue pour responsable à votre encontre ou à l'encontre d'un tiers de toute modification, interruption ou suspension du Site.
            </p>

            <h2>Conditions particulières applicables à certaines rubriques du site</h2>

            <p>
                Il existe certaines rubriques sur le Site qui vous permettent de donner votre avis (ci-après "Donnez votre Avis" ou "Réagir").
            </p>

            <p>
                Les articles et contenu que Japan FM publie dans ces différentes rubriques n'engagent que leur auteur et ne représentent en aucun cas un quelconque avis, conseil officiel de Japan FM.
            </p>

            <p>
                En donnant votre Avis dans l'une quelconque des rubriques du Site Japan FM, vous cédez expressément et gracieusement à Japan FM tous droits de propriété intellectuelle y afférant et notamment le droit de reproduction, de représentation, d'adaptation, sur tout support et en tout format connus ou inconnus à ce jour, pour le monde entier et pour la durée de la propriété intellectuelle actuelle ou à venir.
            </p>

            <p>
                Dans ce cadre, vous vous engagez à n'utiliser les rubriques que pour envoyer des messages et des informations qui sont propres à chaque rubrique. Ainsi, lorsque vous nous communiquez votre Avis sur telle ou telle rubrique, vous vous engagez, sans que la liste ci-après soit limitative, à ne pas : diffamer, abuser, harceler ou menacer quiconque, ni à violer les droits d'autrui tels que par exemple les droits de la personne, le droit à la vie privée, le droit à la dignité humaine.
            </p>

            <p>
                Vous êtes seul et unique responsable des propos tenus dans votre Avis et à ce titre garantissez Japan FM contre tout recours et/ou actions que pourrait intenter toute personne et ce du fait de la diffusion de votre Avis sur le Site. Vous assumerez toute charge et paiement concernant cesdites personnes quelle qu'en soit la cause ou la raison qui pourrait être dû ou réclamé.
            </p>

            <p>
                Japan FM se réserve la possibilité discrétionnaire de publier ou non votre Avis sur son Site, de le modifier, de l'adapter ou de le traduire en toute langue, de le conserver en ligne ou de le supprimer à tout moment et sans avoir à vous en informer préalablement.
            </p>

            <h2>Modalité de jeu et modalité de délivrance des lots</h2>

            <p>
                Japan FM est un site accessible à toute personne disposant d’un accès internet ou d’une connexion 3G/4G. Les concours/jeux organisés par Japan FM sont accessibles à toutes personnes possédant un compte Facebook et/ou Twitter. Il est formellement interdit à toutes personnes de participer aux concours grâce à plusieurs comptes Facebook ou Twitter. S’il remporte le lot, le participant est tenu de fournir à l’organisateur des coordonnées exactes (nom, prénom, adresse postale). Tout préjudice du à une information incomplète ou erronée ne pourra être reproché à l’organisateur (lot ne pouvant être envoyé, lot jamais arrivé, etc). A chaque classement, Japan FM met en jeu, un ou plusieurs lots attribués, à la fin du classement, aux participants les mieux placés. Les visuels des lots étant donnés à titre indicatif, leur ressemblance avec la photo sur le site ne pourra être contestée. Le lot attribué ne pourra donner lieu à aucun échange ou remise de sa contre-valeur en nature ou en espèce. Le gagnant autorise toute vérification concernant son identité et son domicile. Toute fausse déclaration d'identité ou d'adresse peut entraîner l'élimination immédiate du participant et le cas échéant le remboursement des lots déjà envoyés. Les lots sont envoyés dans les 30 jours qui suivent la fin du classement. Aucune réclamation ne pourra être faite sur les désagréments imputables à la société de livraison (colis abimé ou perdu, retard de livraison, etc.).
            </p>

            <h2>Droit applicable - Litiges</h2>

            <p>
                Le Site est soumis au droit français et en cas de litige seuls les tribunaux seront compétents.
            </p>

        </div>
    {% endblock %}