{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Règlement des jeux concours SMS | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">Règlement des jeux concours SMS</h2>
        </header><!-- /archive-header -->


        <div style="font-size: 1.2em; line-height: 1.3em;">

            <p>
                Conditions générales d'utilisation au 01/02/2013
            </p>

        </div>

        <div class="statique">

            <h2>ARTICLE 1 - Objet</h2>


            <p>
                IGAM Entertainment, au capital de 15 000€, inscrite au RCS de Paris, sous le numéro B 524 460 471, dont le siège 13 rue Jouvenet 75016 PARIS, organise des jeux concours accessibles par SMS au numéro suivant : 81108<br />
                Japan FM est une marque française déposée auprès de l’INPI sous le numéro 4030535, par la société IGAM Entertainment.
            </p>

            <h2>ARTICLE 2 - Règles</h2>

            <p>
                De manière ponctuelle, JAPAN FM pourra mettre en jeu différents lots sur le numéro 81108. Ces lots varient notamment selon les accords de partenariat conclus.
            </p>

            <p>
                Ces jeux sont organisés par JAPAN FM, soit seule, soit avec différents partenaires, mais leurs modalités sont unifiées et respectent les termes du présent règlement.
            </p>

            <p>
                Ce règlement aura une durée d’un an à compter de son dépôt sauf décision contraire de JAPAN FM. Il sera tacitement et automatiquement renouvelé à la date anniversaire dudit dépôt.
            </p>

            <p>
                Toutefois, JAPAN FM se réserve le droit d'interrompre, de supprimer, de modifier ou de différer les jeux organisés dans le cadre du présent règlement, à tout moment, sans préavis, comme elle le souhaite, notamment en fonction de ses besoins éditoriaux. 
            </p>

            <p>
                Pour chaque jeu ponctuel organisé, des modalités particulières du déroulement du jeu seront précisées dans une annexe particulière envisagée à l’article 6 <em>« Jeu ponctuel annexe »</em>.
            </p>

            <h2>ARTICLE 3 - Participation</h2>

            <p>
                Les jeux organisés dans le cadre du présent règlement sont ouverts à toute personne physique majeure à l’exception des collaborateurs de JAPAN FM et des membres de leur famille. 
            </p>

            <p>
                Tout mineur participant à un jeu sera considéré comme ayant obtenu l’accord préalable de ses parents.
            </p>

            <p>
                Il ne sera possible de gagner qu’une fois par jeu ponctuel et par foyer (même nom, même adresse).
            </p>

            <p>
                L’envoi de tout SMS permettant de participer au jeu sera facturé 1,50 € TTC par envoi plus le coût du SMS facturé par l’opérateur de téléphonie. Ce montant est indiqué à titre indicatif et au jour du dépôt, sachant qu’il est susceptible d’être modifié. 
            </p>

            <p>
                La participation au jeu étant gratuite, les frais occasionnés par cette participation pourront faire l’objet d’un remboursement dans les conditions définies à l’article 8 du présent règlement. 
            </p>

            <p>
                La participation au jeu est réservée aux personnes domiciliées en France métropolitaine et en Corse (DOM TOM exclus).
            </p>

            <h3>3.1. Modes de participation</h3>

            <p>
                Les lots pourront être gagnés selon les modalités suivantes :
            </p>

            <ul>
                <li>
                    <p>Soit par Instants Gagnants :</p>
                    <p>Dans une telle hypothèse, quatre modes de désignation du ou des gagnants seront possibles :</p>
                    <ul>
                        <li>Les N premiers SMS sont gagnants.</li>
                        <li>Le ou les gagnant(s) est ou sont défini(s) par rapport à différents paramètres : date – heure<br /> Ainsi un gagnant sera désigné si son SMS est reçu à un jour donné et à une heure donnée ou s’il est la première personne dont le SMS sera reçu après la date et l’heure qui seront indiquées par JAPAN FM.</li>
                        <li>Un gagnant tous les N SMS.</li>
                        <li>Un ou plusieurs gagnant(s) sera ou seront tiré(s) au sort parmi les SMS envoyés</li>
                    </ul>
                </li>
                <li>
                    <p>Soit dans le cadre d’un jeu « Quiz » :</p>
                    <p>Dans ce cas chaque joueur devra répondre :</p>
                    <ul>
                        <li>Soit à des questions, dont le nombre sera compris entre 1 et 3, auxquelles il faudra répondre en écrivant en toute lettre la bonne réponse et en l’adressant au 81108.</li>
                        <li>Soit à des questions à choix multiple dont le nombre sera compris entre 1 et 3 et dont le nombre de réponses proposées sera compris entre 2 et 5.<br />
                            Dans ce cadre, la réponse à chaque question posée dans le cadre des jeux quiz se fera par l’envoi de la lettre correspondant à l’une des réponses proposées (A, B, C, D ou E).
                        </li>

                    </ul>
                </li>
                <li>
                    <p>Les questions pourront être posées :</p>
                    <ul>
                        <li>soit à l’antenne,</li>
                        <li>soit sur le site Internet,</li>
                        <li>soit l’auditeur envoie un mot clé spécifique et la ou les questions lui seront renvoyée par le biais d’un SMS-MT.</li>
                    </ul>
                </li>
                <li>
                    <p>Le(s) gagnant(s) seront :</p>
                    <ul>
                        <li>soit tiré(s) au sort parmi ceux ayant donné les bonnes réponses ou bien les N premiers participants qui répondent correctement à la (aux) question(s),</li>
                        <li>soit définis sur la base d’un gagnant tous les N SMS parmi ceux qui auront donné les bonnes réponses aux questions.</li>
                    </ul>
                </li>
            </ul>

            <p>
                Chaque SMS envoyé par le participant dans le cadre d’un jeu devra être précédé par le mot clef du jeu.
            </p>

            <h3>3.2. Lancement du jeu</h3>

            <p>
                Le jeu par SMS pourra faire l’objet d’un lancement selon deux procédés :
            </p>

            <ul>
                <li><p>Soit à l’antenne de JAPAN FM :</p>
                    <p>
                        Ce message précise la date d’ouverture et de fermeture du jeu organisé par SMS et, le cas échéant, des informations plus précises telles que la date du tirage au sort s’il y en a un.
                    </p>
                </li>
                <li><p>Soit sur le site Internet :</p>
                    <p>
                        Le site précisera les heures d’ouverture et de fermeture du jeu organisé par SMS ainsi que, le cas échéant, des informations plus précises telles que la date du tirage au sort s’il y en a un.
                    </p>
                </li>
            </ul>

            <h2>ARTICLE 4 - Lots mis en jeu</h2>

            <p>
                Chaque lot mis en jeu a une valeur pouvant varier entre 0 et 1000 euros. Il ne peut faire l’objet d’un quelconque remboursement, de quelque manière que ce soit, et peut être remplacé à tout moment par un lot de valeur équivalente.
            </p>

            <p>
                Sans que cela ne soit exhaustif, le plus souvent, les lots mis en jeu consisteront en des places de concert, des phonogrammes, des vidéogrammes, des livres, des affiches, des objets promotionnels, etc.
            </p>

            <p>
                Les lots attribués aux gagnants pourront être différents selon leur rang d’envoi de SMS au 81108 ou, le cas échéant, de leur rang de classement à l’occasion du tirage au sort désignant les vainqueurs.
            </p>


            <p>
                Selon le jeu, et dans les conditions précisées dans l’annexe relative au jeu ponctuel, JAPAN FM pourra, selon son choix, soit demander au gagnant qu’il retire son lot dans les conditions qu’elle détermine, ou que son partenaire détermine (le cas échéant, JAPAN FM reste étrangère à la relation entre son partenaire et le gagnant du lot), soit lui adresser le lot par voie postale.
            </p>

            <p>
                En cas de non livraison du lot au gagnant, JAPAN FM ne saurait être tenue pour responsable de toute avarie, vol et perte du lot intervenu à cette occasion.
            </p>


            <h2>ARTICLE 5 - Gagnant</h2>

            <p>Chaque personne participant au jeu sera prévenue du fait qu’elle aura gagné :</p>

            <ul>
                <li>soit personnellement par courrier postal,</li>
                <li>soit personnellement par téléphone</li>
                <li>soit personnellement par SMS,</li>
                <li>soit par voie d’affichage électronique sur le site Internet de JAPAN FM,</li>
                <li>soit cumulativement par plusieurs des voies sus exposées.</li>
            </ul>

            <p>
                Un gagnant ne pourra être considéré comme tel, qu’à la condition qu’il ait envoyé par SMS, de manière lisible, ses coordonnées exactes : nom(s), prénom(s), adresse et numéro de téléphone et que les données qu’il aura transmise s’avèrent exactes.
            </p>

            <p>
                Sans ces indications, sa participation ne sera pas prise en compte et la personne ne pourra prétendre à aucune attribution de lot qui restera la propriété de JAPAN FM et pourra éventuellement être remis en jeu ou attribué à un autre participant choisi par JAPAN FM.
            </p>

            <p>
                Par ailleurs, il est rappelé qu’une personne ne pourra pas gagner plus d’une fois par jeu ponctuel.
            </p>

            <p>
                Dans le cas où le lot doit lui être attribué par un partenaire contractuel de JAPAN FM, les données qu’elle aura transmises en participant au jeu pourront être transmises à ce partenaire de manière à pouvoir remettre le lot au participant.
            </p>

            <p>
                Afin d’attribuer le lot au gagnant, il pourra lui être demandé des justificatifs d’identité afin que son lot ne soit pas attribué à une tierce personne se faisant passer pour lui.
            </p>

            <p>
                Sans ces justificatifs, la personne se présentant comme un gagnant ne pourra prétendre à aucune attribution de lot.
            </p>

            <p>
                Par ailleurs, JAPAN FM ne saurait être responsable du traitement des noms et prénoms des gagnants, et notamment des erreurs ou oublis de réservation de(s) place(s) ou d’envoi de lot, qui pourraient être imputables aux organisateurs du spectacle et plus généralement de tout partenaire de JAPAN FM ainsi que de l’exploitation qu’ils pourraient faire ensuite des données relatives aux gagnants (sollicitations commerciales notamment).
            </p>

            <p>
                Du fait de l'acceptation de leur prix, les participants autorisent JAPAN FM à utiliser leur nom, prénom, sans restriction ni réserve autre que le cas prévu à l'article 8 ci-dessous, et sans que cela leur confère une rémunération, un droit ou avantage quelconque, autre que le lot qui leur est attribué. Ainsi, JAPAN FM pourra librement publier sur son site Internet la liste des gagnants.
            </p>

            <h2>ARTICLE 6 - Annexe- jeu ponctuel</h2>

            <p>
                Chaque jeu ponctuel fait l’objet d’une annexe qui vient préciser les éléments suivants :
            </p>

            <ul>
                <li>Le type de jeu : instant gagnant, « Quiz » (avec, le cas échéant, les questions et réponses proposées).</li>
                <li>Le mot clef correspondant au jeu</li>
                <li>Le nombre de SMS nécessaires à une participation complète au jeu</li>
                <li>Le moyen de lancer le jeu : Internet et/ou à l’antenne,</li>
                <li>Le moment du lancement du jeu,</li>
                <li>Les dates d’ouverture et de fermeture du concours,</li>
                <li>La date du tirage au sort s’il y a lieu,</li>
                <li>Le partenaire de JAPAN FM, le cas échéant, qui fournit les lots du concours,</li>
                <li>La description et le nombre des lots mis en jeu,</li>
                <li>Le mode d’attribution des lots : envoi postal ou retrait auprès de JAPAN FM ou de son partenaire,</li>
                <li>Le mode d’information des gagnants : SMS, ou courrier,etc.,</li>
                <li>L’adresse du jeu.</li>
            </ul>

        <p>
            Chaque annexe fera l’objet d’un archivage chez JAPAN FM et pourra être obtenue par courrier sur simple demande adressée à l’adresse du jeu ponctuel mentionnée sur le site Internet de JAPAN FM. Cette annexe pourra aussi être affichée par JAPAN FM sur son site Internet.
        </p>

        <h2>ARTICLE 7 - Données personnelles</h2>

        <p>
            JAPAN FM mettra en place un système de conservation des données et des réponses des participants au présent concours permettant un contrôle en cas de réclamation et, le cas échéant, de leur remettre ou faire remettre aux gagnants leurs lots.
        </p>

        <p>
            Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les participants bénéficient d'un droit d'accès et de rectification des données les concernant et peuvent demander que leurs coordonnées soient radiées et ne soient pas communiquées à des tiers. 
        </p>

        <p>
            Pour toute demande concernant leurs données personnelles, les participants peuvent envoyer un courrier mentionnant l’objet de leur demande, leurs coordonnées exactes ainsi que celles du jeu quotidien auxquels ils ont participé (date, heure, intitulé du jeu, lot mis en jeu) à l’adresse du jeu mentionnée en annexe.
        </p>

        <p>
            Généralement, cette adresse prend la forme suivante :
        </p>

        <address>
            Jeux SMS « nom du jeu »<br />
             IGAM Entertainment - JAPANFM<br />
             13 rue Jouvenet 75016 PARIS
        </address>

        <h2>ARTICLE 8 - Remboursement</h2>

        <p>
            La participation au jeu concours est gratuite, aussi, toute personne participant au jeu pourra obtenir sur demande à l’adresse du jeu les remboursements suivants :
        </p>

        <ul>
            <li>Frais de timbre nécessaire à la demande de communication du présent règlement et/ou de remboursement de la participation qui sera remboursé au tarif lent en vigueur au jour de réception de la demande.</li>
            <li>Frais de connexion à Internet correspondant à la consultation du présent règlement sur une base de 3 minutes au tarif réduit de 0,15 euro TTC la minute sur présentation d’un justificatif du fournisseur d’accès indiquant la date et l’heure de connexion au site de JAPAN FM. Ce remboursement sera refusé si l’internaute bénéficie d’un abonnement lui permettant un accès illimité à Internet.</li>
            <li>Frais d’une seule participation au jeu par SMS organisé dans le cadre du présent règlement soit 1,50 euros TTC (trente-cinq centimes d’euros Toutes Taxes Comprises) plus coût du SMS facturé par l'opérateur (dans la limite de 0,30 euros TTC) multiplié par le nombre de SMS nécessaires pour valider une participation.</li>

        </ul>

        <p>
            Ces remboursements ne peuvent être obtenus que sur présentation :
        </p>

        <ul>
            <li>des noms, prénoms, adresse et date de naissance du participant,</li>
            <li>le numéro de téléphone mobile avec lequel le participant a joué et le nom de son opérateur,</li>
            <li>une facture nominative d’abonnement auprès de l’opérateur téléphonique indiquant la date et l’heure d’envoi du SMS ou, dans le cas d’une carte, une preuve d’achat de celle-ci (c’est-à-dire une photocopie de la carte et du ticket d’achat ou du contrat de souscription).</li>
            <li>Un relevé d’identité bancaire (RIB).</li>
        </ul>

        <p>
            Chacun de ces remboursements s’effectue dans la limite d’un remboursement par jeu et par foyer (même nom et même adresse) ayant participé au jeu. Selon le choix de JAPAN FM, le remboursement pourra s’effectuer par virement bancaire ou pourra être adressé au participant par lettre avec ou sans accusé de réception.
        </p>

        <p>
            Ces demandes doivent être formulées au plus tard 15 jours ouvrés après la date de clôture de chaque jeu ponctuel auquel aura participé le joueur.
        </p>

        <p>
            Les demandes incomplètes ne seront pas prises en compte.
        </p>

        <h2>ARTICLE 9 - Dépôt du règlement des jeux organisés par SMS</h2>

        <p>
            Le règlement du présent jeu-concours est déposé en l’Etude de la Société Civile Professionnelle Philippe DUPARC – Carole DUPARC – Olivier FLAMENT, Huissiers de justice Associés, domiciliée 1 boulevard du Palais – 75004 PARIS.
        </p>

        <p>
            Il pourra être consultable sur le site Internet de JAPAN FM et/ou pourra être adressé gratuitement à toute personne en faisant la demande écrite à l'adresse du jeu.
        </p>

        <p>
            Le règlement peut être modifié à tout moment sous la forme d'un avenant par l'organisateur, dans le respect des conditions énoncées, et publié par annonce en ligne sur le site. L'avenant sera déposé à la SCP d’huissiers de justice dépositaire du règlement avant sa publication.
        </p>

        <h2>ARTICLE 10 - Convention de preuve</h2>

        <p>
            Sauf erreur manifeste, les informations résultant des systèmes de jeu et plus généralement de tous les services télématiques de JAPAN FM auront force probante dans tout litige quant aux éléments de connexion et au traitement informatique des informations relatives au jeu.
        </p>

        <h2>ARTICLE 11 - Responsabilité</h2>

        <p>
            En aucun cas, la responsabilité de JAPAN FM ne pourra être engagée au titre des lots qu’elle attribue aux gagnants du jeu, qu’il s’agisse de la qualité des lots par rapport à celle annoncée ou attendue par les participants aux jeux, de leur envoi et acheminement aux gagnants (notamment des risques de pertes, de vol et plus largement des dommages que les lots pourraient subir) ou des dommages éventuels de toute nature que pourraient causer les lots, que ces dommages leur soient directement ou indirectement imputables.
        </p>

        <p>
            La participation emporte la connaissance et l'acceptation des caractéristiques et des limites de l'Internet et du téléphone portable, de l'absence de protection de certaines données contre des détournements éventuels ou piratage et risques de contamination par des éventuels virus circulants sur le réseau de l’Internet et/ou de téléphonie mobile. Ainsi, JAPAN FM ne saurait être tenue responsable au cas où un ou plusieurs participants ne pouvaient parvenir à leur envoyer un SMS via le numéro 81108 du fait d’un problème technique (ex. : saturation du réseau notamment).
        </p>

        <h2>ARTICLE 12 - Dispositions générales</h2>

        <p>
            La participation aux jeux-concours emporte l'acceptation pleine et entière des clauses du présent règlement.
        </p>

        <p>
            La loi française est seule applicable aux jeux concours organisés dans le cadre du présent règlement, notamment pour tout litige qui viendrait à naître du fait des jeux objet des présentes ou qui lui serait directement ou indirectement lié.
        </p>

        <p>
            Les participants renoncent à tout recours portant sur les conditions d'organisation du jeu, son déroulement ainsi que ses résultats.

        </p>

        </div>
    {% endblock %}