{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title "Contact" %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">Contactez-nous</h2>
        </header><!-- /archive-header -->


        <div class="statique" style="font-size: 1.2em; line-height: 1.3em;">

            <h2>Vyper Japanese Music, la passion de la musique japonaise</h2>

            <p>
                Composée de passionnés de musique japonaise, notre équipe réunit des personnes ayant un même point commun : l'esprit de partage et de découverte. Le site, lancé en 2013 est actuellement dans sa seconde version.
            </p>

            <p>
                Le site vyper-jmusic.com est édité par VYPER JAPANESE MUSIC
            </p>

            <h2>Contacter vyper-jmusic.com</h2>


            <p>
                Courrier : VYPER Japanese Music PONS Cyrielle Résidence St Roch Rue Louis Orvoen 29350 Moëlan Sur Mer<br />

                E-mail : <a class="hide-contact" href="#">contact</a>
            </p>

            <p>
                Rédaction de vyper-jmusic.com : <a class="hide-contact" href="#">contact</a><br />
                Support technique : <a class="hide-webmaster" href="#">webmaster</a><br />
                Régie publicitaire : <a class="hide-publicite" href="#">publicite</a>
            </p>

            <h2>L'équipe de vyper-jmusic.com</h2>

            <p>
            <ul>
                <li>Cyrielle Pons - <em>Ki YoMi</em> - Gérante et Présidente de l’association VYPER Japanese Music. Rédactrice, Photographe et Correctrice.</li>
                <li>Gaëlle Pons – <em>TsuKi</em> – Photographe et Rédactrice/Correctrice</li>
                <li>Roxanne Rigo – <em>Caprice</em> – Photographe et Rédactrice</li>
                <li>Saysa Bounkhong - Chef de projet Web</li>
            </ul>

            </p>

            <p>
                Merci aux contributeurs occasionnels.
            </p>

            <h2>Informations légales</h2>

            <p>
                Vyper Japanese Music est une association de Loi 1901 à but non-lucratif enregistrée sous le numéro W294005699 auprès de la Préfecture de Quimper<br />
                Siège social : Résidence St Roch Rue Louis Orvoen 29350 Moëlan Sur Mer<br />
                Le site VYPER Japanese Music est un web-média destiné à promouvoir la musique japonaise sans distinction de genres en France.

            </p>

        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>

            $(document).ready(function() {
                var e = "contact";
                var t = "vyper-jmusic";
                var n = ".com"; //
                var m = e + '@' + t + n;
                var r = 'mailto:' + e + '@' + t + n;
                $('.hide-contact').attr('href',r).html(m);

                var e = "webmaster";
                var t = "vyper-jmusic";
                var n = ".com";
                var m = e + '@' + t + n;
                var r = 'mailto:' + e + '@' + t + n;
                $('.hide-webmaster').attr('href',r).html(m);

                var e = "publicite";
                var t = "vyper-jmusic";
                var n = ".com";
                var m = e + '@' + t + n;
                var r = 'mailto:' + e + '@' + t + n;
                $('.hide-publicite').attr('href',r).html(m);
            });

        </script>
    {% endblock %}