{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}L'Equipe | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">L'Equipe</h2>
        </header><!-- /archive-header -->


        <div style="font-size: 1.2em; line-height: 1.3em;">

            <p>
                <strong>VYPER Japanese Music</strong> est une nouvelle source d’information entièrement dédiée à la musique japonaise dans son ensemble.
            </p>

            <p>
                Depuis 2013, toute l’équipe de <strong>VYPER Japanese Music</strong> vous partage les dernières actualités japonaises, françaises et européennes sur vos artistes japonais préférés sans distinction des genres. De plus, et toujours dans un souci de partage et de découverte au plus grand nombre, notre équipe vous propose régulièrement des interviews, live reports et critiques ainsi qu’une importante base de données artistes, régulièrement mise à jour.
            </p>

            <p>
                L’équipe de <strong>VYPER Japanese Music</strong> travaille l’esprit ouvert et est toujours prête à découvrir et faire découvrir de nouveaux groupes. Notre équipe travaille dans un esprit de partage et de découverte afin que la musique japonaise puisse acquérir popularité et notoriété.
            </p>

            <p>
                <strong>VYPER Japanese Music</strong> est une plateforme web adaptable sur smartphone et tablettes.
            </p>

        </div>
    {% endblock %}