{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}L'Equipe | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">L'Equipe</h2>
        </header><!-- /archive-header -->


        Retrouvez à l’antenne les animateurs et animatrices de Japan FM:

        Camio
        camio@japanfm.fr

        Ash

        Kai
        kai@japanfm.fr

        Cyrielle
        cyrielle@japanfm.fr

        Yuuki-K

        San

        Mori

        Blackcat

        Sahé

        Fairy

        Tenshirock

        Serwan

        Laurent

        Kaze

        Saga

        Elyes & Saysa
        Webmasters
    {% endblock %}