{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}L'Equipe | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">L'Equipe</h2>
        </header><!-- /archive-header -->

        <p>
        Retrouvez à l’antenne les animateurs et animatrices de Japan FM:
        </p>

        <ul>
            <li>Camio</li>
            <li>Ash</li>
            <li>Kai</li>
            <li>Cyrielle</li>
            <li>Yuuki-K</li>

            <li>San</li>

            <li>Mori</li>

            <li>Blackcat</li>

            <li>Sahé</li>

            <li>Fairy</li>

            <li>Tenshirock</li>

            <li>Serwan</li>

            <li>Laurent</li>

            <li>Kaze</li>

            <li>Saga</li>

        </ul>







    {% endblock %}