{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Mentions légales | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">Mentions légales</h2>
        </header><!-- /archive-header -->

        <div class="statique">
            <p>
                Japan FM est une marque déposée par IGAM Enertainment sous le n°4030535 auprès de l'INPI.
            </p>

            <p>
                La structure générale, ainsi que les textes, graphiques, certaines images et sons et composant ceux-ci, sont la propriété de Japan FM. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ce site, par quelques procédés que ce soit, sans l'autorisation expresse et préalable de Japan FM est interdite et constituerait une contrefaçon au sens des articles L 335-2 et suivants du code de la propriété intellectuelle.
            </p>

            <p>
                Les liens hypertextes mis en œuvre au sein de ce site en direction d'autres sites et/ou de pages personnelles et d'une manière générale vers toutes ressources existantes sur internet ne sauraient engager la responsabilité de Japan FM.
            </p>

            <p>
                Ce site fait partie intégrante du réseau de sites de Japan FM.<br />
                L'utilisation de ce site constitue une approbation de nos Conditions d'utilisations et Politique de confidentialité.
            </p>

            <h2>Editeur du site</h2>

            <p>
                IGAM Entertainement<br />
                SARL au capital de 15.000€ immatriculée au R.C.S Paris sous le numéro 524 560 471<br />
                Siège social : 13 rue Jouvenet, 75016 Paris
            </p>

            <p>
                Le directeur de la publication du site est Antoine Marion, en sa qualité de Gérant
            </p>

            <h2>Hébergement</h2>

            <p>
                OVH<br />
                SAS au capital de 10.000.000 € immatriculée au R.C.S Roubaix-Tourcoing sous le numéro 424 761 419<br />
                Siège social : 2 rue Kellermann, 59100 Roubaix<br />
                Tél : 0 820 698 765 (0,118 €/min)<br />
                Courriel : <a href="http://www.ovh.com/fr/support/support/supportv3.cgi">Accéder au formulaire</a>
            </p>
        </div>



    {% endblock %}