{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Partenaires | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">Partenaires</h2>
        </header><!-- /archive-header -->


        Production et Médias :

        -          B7KLAN : www.b7klan.com

        -          Torpedo Productions : www.torpedo-productions.com

        -          33Degrees : 33degrees.eu

        -          Elokami Production : www.elokami-production.com

        -          HIGHFeeL : www.highfeel.jp

        -          OLYDRI Studio : olydri.com

        -          NOLIFE : www.nolife-tv.com

        -          Japan In Motion : www.japan-in-motion.tv

        -          E-TALENTBANK : e-talentbank.co.jp

        -          Watanabe Entertainment : www.watanabepro.co.jp

        -          VYPER Japanese Music : www.facebook.com/vyperjmusic

        -          SHIBUYA INTERNATIONAL : www.shibuya-international.com

        -          TAÏFU Comics : taifu-comics.com

        -          OTOTO : www.ototo.fr


        Evènements :

        -          Japan Music Fest. : www.facebook.com/japanmusicfest2014

        -          Mang’Azur : www.mangazur.fr

        -          Toulouse Game Show : www.toulouse-game-show.fr

        -          Japan Touch : www.asiexpo.com/japantouch2014

        -          Anim’Est : www.animest.net

        -          MAGIC : www.magic-ip.com

        -          Japan Tours Fest. : www.japantoursfestival.com
    {% endblock %}