{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title "Visual kei - JPop - Jrock - Jmusic - VYPER Japanese Music | Toute la Jmusic, toutes les news en temps réels" %}

    {% block content %}

        <h2>{{ article.title }}</h2>

        <p>{{ article.description }}</p>

        <div>
            {{ article.text }}
        </div>

    {% endblock %}