.jp-gui ul {
    margin:0;
    padding:0;
}
.jp-gui ul li {
    position:relative;
    float:left;
    list-style:none;
    margin:2px;
    padding:4px 0;
    cursor:pointer;
}
.jp-gui ul li a {
    margin:0 4px;
}

li.jp-mute,
li.jp-unmute {
    width: 20px;
}

li.jp-unmute,
.jp-no-solution {
    display:none;
}

.jp-progress-slider .ui-slider-handle {
    cursor:pointer;
}
.jp-volume-slider {
    width:100px;
    height:.4em;
    margin-bottom: 5px;
}
.jp-volume-slider .ui-slider-handle {
    height:.8em;
    width:.8em;
    cursor:pointer;
}
.jp-gui.jp-no-volume .jp-volume-slider {
    display:none;
}

.jp-clearboth {
    clear:both;
}