{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title "vyper-jmusic.com | Visual Pop Rock" %}

    {% block content %}
        <div id="auth_container">
            <span id="auth_title">Vyper Japanese Music</span>
            {% if password_error is defined and password_error %}
                {{ password_error }}
            {% endif %}
            <form method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                {{ form_rest(form) }}

                <input type="submit" />
            </form>

        </div>
    {% endblock %}