{% block content %}
    <header class="archive-header">
        <h2 class="archive-title">Events</h2>
    </header><!-- /archive-header -->

    <div id="eventContent" title="Event Details" style="display:none;">
        Début: <span id="startTime"></span><br>
        Fin: <span id="endTime"></span><br><br>
        <p id="eventInfo"></p>

        <div id="map"></div>

        <p><strong><a id="eventLink" href="">En savoir plus</a></strong></p>
    </div>

    <div id='calendar'></div>

    <script>

        $(document).ready(function(){
            console.log('appel ajax 2');
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'prevYear,month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: "Aujourd'hui",
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour'
                },
                columnFormat:{
                    month: 'ddd ',    // Mon
                    week: 'ddd d-M', // Mon 9/7
                    day: 'dddd d-M'  // Monday 9/7
                },
                firstDay:1,
                height: 'auto',
                monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','Décembre'],
                monthNamesShort: ['Jan','Fev','Mar','Avr','Mai','Juin','Juil','Aout','Sep','Oct','Nov','Dec'],
                dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
                allDaySlot: false,
                axisFormat : 'H:mm',
                timeFormat: 'H:mm',
                defaultDate: '{{ defaultDate }}',
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                eventRender: function (event, element) {
                    element.attr('href', 'javascript:void(0);');
                    element.click(function() {

                        console.log(event);

                        $("#startTime").html(moment(event.start).format('MMM Do h:mm A'));
                        $("#eventInfo").html(event.description);
                        $("#map").html('<iframe width="100%" scrolling="no" height="270" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=' + event.googlemap + '&amp;z=14&amp;iwloc=near&amp;output=embed" marginwidth="0" marginheight="0"></iframe>');
                        $("#eventLink").attr('href', event.url);
                        $("#eventContent").dialog({ modal: true, title: event.title, width:500});
                    });
                },
                events: {{ events|raw }}
            });
            console.log('appel ajax');
            $('#calendar').fullCalendar('refetchEvents');
        });

    </script>
{% endblock %}

