<div id="widget-tab6-content" class="tab-content-top">

    <ul class="list post-list">

        {% for top in top_mangas %}
            <li>
                <div class="thumbnail">
                    <img src="{{ asset(top.manga.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="{{ top.manga.getTitle|escape }}">
                </div>
                <div class="post-right">
                    <h5><a href="#">{{ top.manga.getTitle }}</a></h5>

                </div>
            </li>
        {% endfor %}

    </ul>
</div>