<div id="widget-tab4-content" class="tab-content-top" style="display: block;">

    <div class="top-1">
        <a href="#">
            <img src="{{ asset(top_musics.0.picture.getPath('top1')) }}" />
        </a>
        <div class="top-1-position">
            <div class="row">
                <div class="col-xs-2 number-one">
                    {{ top_musics.0.position }}
                </div>
                <div class="col-xs-10 details padding-off">
                    <div class="infos">
                        Titre <span>Interprerte</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% for top in top_musics %}
        {% if top.position != 1 %}
        <div class="col-xs-4 padding-off top-2-plus">
            <a href="#">
                <img src="{{ asset(top.picture.getPath('top-2-plus')) }}" />
            </a>
            <div class="position">
                {{ top.position }}
            </div>
        </div>
        {% endif %}
    {% endfor %}

</div>